# lng-amarillo-01
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="66:06:3e:f9:4f:ae",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-arndale-01
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="02:8e:8f:32:21:98",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-arndale-02
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="02:8c:cc:92:21:98",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-arndale-03
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="02:f4:0c:d6:16:33",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-arndale-04
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="02:8f:4f:09:5e:44",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-arndale-05
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="02:b6:8d:b5:c7:24",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-generator-01
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="d8:9d:67:26:ae:e8",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-generator-02
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="d8:9d:67:26:cd:d8",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-keystone-01
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="c4:ed:ba:99:f4:09",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-keystone-02
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="c4:ed:ba:9a:8c:47",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"

# lng-keystone-03
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="c4:ed:ba:9a:67:60",
ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
