
if TARGET_LS2088AISSD

config SYS_BOARD
	default "ls2088aissd"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "fsl-layerscape"

config SYS_CONFIG_NAME
	default "ls2088aissd"

endif
