CONFIG_SYS_EXTRA_OPTIONS="LS1088A, EMU, SD_BOOT, SYS_FSL_DDR4, ESDHC_DETECT_QUIRK"
CONFIG_ARM=y
CONFIG_TARGET_LS1088ARDB=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_NETDEVICES=y
CONFIG_E1000=y
CONFIG_SYS_NS16550=y
CONFIG_SPL=y
CONFIG_PARTITIONS=y
